.container {
  display: flex;
  gap: 10px;
}
.hidden {
  display: none;
}
.login-container {
  height: 300px;
  display: flex;
  padding: 30px;
}
.navbar {
  background-color: tomato;
  height: 50px;
  font-size: 30px;
  padding: 10px;
}
.logo {
  text-decoration: none;
  color: white;
}
.home-container {
  height: 300px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btn-design {
  height: 30px;
  width: 80px;
  text-decoration: none;
  color: white;
  background-color: tomato;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  margin-top: 5px;
  font-size: 15px;
}
.todo {
  border-bottom: 1px solid gainsboro;
  padding-left: 15px;
}
.todo-input {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 130px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
